.footer {
  text-align: center;
  .menuBtn {
    float: left;
    padding: 0 !important;
    //min-width: .9em !important;
    background-color: #387ef5;
    margin: 0.4rem 0.2rem;
    height: 3.6rem;
    border-radius: 2px;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .bar-button-default:hover:not(.disable-hover) {
    color: #fff;
  }
  .refreshBtn {
    background-color: #388E3C !important;
  }
  .prevPage {
    background: #455A64 !important;
  }
  .nextPage {
    background: #455A64 !important;
  }
  .ratingBtn {
    float: right;
    background: #FF7043;
  }
  .pageNums{
    vertical-align: sub;
  }
}
