<ion-footer class="footer">

  <ion-toolbar no-border-top>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button class="menuBtn">
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-col>
        <ion-col width-50>
          <div text-center *ngIf="curView==='RandomPage'">
            <button class="refreshBtn" text-center (click)="refresh()">
              <ion-icon name="refresh"></ion-icon>
            </button>
          </div>
          <div *ngIf="curView==='SearchPage' || curView==='TrendingPage'">
            <button class="prevPage" [disabled]="curPage<=1"  (click)="prevPage()">
              <ion-icon name='arrow-back'></ion-icon>
            </button>
            <span class="pageNums" *ngIf="curView==='SearchPage' && totalPages>0">{{curPage}} of {{totalPages}}</span>
            <button secondary class="nextPage" [disabled]="!(curView==='TrendingPage' || (totalPages - curPage > 0))"
                    (click)="nextPage()">
              <ion-icon light name='arrow-forward'></ion-icon>
            </button>
          </div>
        </ion-col>
        <ion-col>
          <button class="ratingBtn" (click)="doRating()">
            <ion-icon name="options"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>

</ion-footer>
