<ion-content class="search">


  <!--<ion-searchbar [debounce]="700" [(ngModel)]="query" [showCancelButton]="true" (ionInput)="doSearch()"></ion-searchbar>-->
  <div *ngIf="gifs" class="resultsArea">
    <button fab fab-top [class.margin-25]="total_count>0 ? false : true" fab-center (click)="searchInput()">
      <ion-icon name="search"></ion-icon>
    </button>
    <ion-card *ngIf="!gifs">
      <ion-content>Sorry, no results found.</ion-content>
    </ion-card>
    <gif-card *ngFor="let gif of gifs" [gif]="gif"></gif-card>
  </div>
</ion-content>
<gif-footer [totalPages]="totalPages" [curPage]="curPage" (pageChangeEmitter)="updatePage($event)"
            (ratingRadioEmitter)="updateRating($event)"></gif-footer>
